@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;

  .main {
    display: flex;
    max-width: 1280px;

    .topics {
      padding: 5em 0.5em;
      width: 20%;

      > div {
        position: sticky;
        top: 0;

        .nav1 {
          padding: 0.5em;
          a {
            color: black;
          }
          &.active {
            background-color: #ddd;
          }
        }
      }
    }

    .content {
      width: 80%;
      .test-case {
        display: flex;
        margin-top: 1em;

        > div {
          flex: 1 1 0;
          position: relative;

          &.template {
            color: #ccf;
          }
          &.model {
            color: #ffc;
          }
          &.expected {
            color: #cfc;
          }
          &.errors {
            color: #fcc;
          }

          > input {
            display: none;

            &:checked {
              + .label {
                &::after {
                  transform: rotate(90deg);
                }
              }
              ~ .code {
                max-height: 100vh;
              }
            }
          }

          > .label {
            position: absolute;
            height: 1.2em;
            right: 0.25em;
            left: 0.25em;
            display: flex;
            justify-content: space-between;
            padding: 0.25em 0.5em;
            background: #333;
            font-weight: bold;
            cursor: pointer;
            border: 1px solid #000;
            border-top-left-radius: 0.5em;
            border-top-right-radius: 0.5em;
            &:hover {
              background: #555;
            }
            &::after {
              content: "\276F";
              width: 1em;
              height: 1em;
              text-align: center;
              transition: all 0.35s;
            }
          }

          > .code {
            font-family: "Roboto Mono", monospace;
            margin: 1.5em 0.25em 0.5em;
            padding: 0.5em 0.5em;
            border: 1px solid #000;
            background-color: #333;
            color: #fff;
            white-space: pre-wrap;
            overflow: auto;
            border-bottom-left-radius: 0.5em;
            border-bottom-right-radius: 0.5em;
            max-height: 1em;
          }
        }
      }
    }
  }
}
